/*CSS RESET*/
/*a way for the devs to remove any pre-defined margins and paddings set by the browser. This is to have less hassle in managing the space that will be used for the layout of the webpage*/
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


/*using Google Font "Open Sans" for styling the body texts*/
body{
	font-family: "Open Sans", sans-serif;
}

nav{
	/*
	padding - the space between the content of the element and its border

	padding is a shorthand for padding-top, padding-bottom, padding-left, padding-right
		padding-top:  .8rem;
		padding-bottom:  .8rem;
		padding-left:  .8rem;
		padding-right:  .8rem;
	*/
	padding: .8rem;
	/*margin - space between the elements and outside their borders*/
	margin-bottom: 2rem;
	border-bottom: 1px solid grey;
	list-style-type: none;
}
/*
	if you want to increase/decrease the space of the content to the border, manage the padding.

	if you want to manage the spacing in between the elements, adjust the margin of the elements
*/

/*we can also select multiple combination selectors with use of comma*/
nav .nav, nav .nav-logo{
	/*
	this margin creates space around the element but outside its border
	*/
	margin: .5rem;
	/*
	li are naturally block elements, but with the use of display: inline, we were able to transform the li elements to become "inline" so that they will be displayed beside each other.
	*/
	display: inline;
}

/*Info Section*/

/*
	when we have different measurements for each side, the measurement for each side can be used
		padding-left, padding-right, padding-top, padding-bottom
*/
#intro{
	padding-left: 10%;
	padding-right: 10%;
	padding-top: 2rem;
	padding-bottom: 3rem;
	/*shorthanf for padding with the same right and left measurement*/
	/*padding: 2rem 10% 3rem;*/
	/*padding: Top Left/Right Bottom*/

	/*4 values for shorthand would be clockwise direction starting from the top*/
	/*padding: Top Righ Bottom Left*/

	text-align: center;
}

.header{
	text-align: center;

}

#intro h2, #intro p{
	margin-bottom: 1rem;
}

#intro button{
	color: white;
	/*font-weight - used to change the THICKNESS of the text of the element*/
	font-weight: bold;
	background-color: #c2195b;
	border-radius: 25px;
	font-size: 1rem;
	/*to create space to make the button bigger and to make the content "Apply Now" more noticeable*/
	padding: 1rem;
}

/*Succeed Info*/
#succeed-info{
	padding: 2rem 10% 3rem;
}

#succeed-info h2{
	margin-bottom: 1rem;
}

#succeed-info h3{
	text-align: center;
	/*creates space between the h3 and p element in each part*/
	margin-bottom: 1rem;
}

#succeed-info .card{
	/*allows the cards to appear next to each other*/
	/*
		inline - consuming only the content width of the element
		block - consuming the full width of the webpage regardless fo the content width

		inline-block - works as inline for its siblings, but works as block elemement for the elements outside its parent element.
	*/
	display: inline-block;
	/*align the elements at the top of their container*/
	vertical-align: top;
	/*sets the minimum height in case the content does not fit the card*/
	min-height: 175px;
	/*each card will only use 30% of the screen size*/
	width: 30%;
	margin-left: .5rem;
	margin-right: .5rem;
}

/*Footer Section*/
footer{
	padding: .75rem;
}

footer span{
	margin-left: .5rem;
	margin-right: .5rem;
	/*shorthand - "margin: Top/Bottom Left/Right"*/
	/*ex. margin: 0 .5rem*/
	
}


/*ACTIVITY*/

/*PRE-FOOTER Section*/
#pre-footer{
	padding: 2% 5% 2%;
	background-color: #01172F;
	color: white;
}

#pre-footer .card{
	display: inline-block;
	vertical-align: top;
	width: 22%;
	min-height: 100px;
	margin: 0 .5rem;
}

#pre-footer h3{
	margin-bottom: 10px;
}

#pre-footer p{
	margin-bottom: 5px;
}